html {
    background-color: white;
    font-family: 'Space Mono', monospace;
    color: white;
}

body {
    background-color: #0e0e0e;
    width: 3840px;
    height: 2160px;
    margin: 0;
    padding: 35px 100px;
}

h1#streamername {
    color: #ffb2d7;
    margin: 0;
    font-size: 200px;
    letter-spacing: 8px;
    font-style: italic;
}

p {
    font-size: 60px;
    margin-top: 0;
}

td {
    vertical-align: top;
}

.padding {
    padding-left: 30px;
}

p.blue {
    color: #c5fff5;    
}

td:nth-child(1) p span {
    font-style: italic;
}


table#streaminfo tr:nth-child(1) {
    max-width: 1500px;
}

iframe#actual {
    height: 2160px;
    width: 2000px;
    font-size: 500px;
    position: absolute;
    right: 1200px;
    border: 0;
}